@import "/src/styles/variables.scss";

.mainHeader {
  background-image: url('/images/music-bg.webp');
  height: 18.25rem;

  @media (min-width: $breakpoint-lg) {
    height: 32rem;
  }

  &.minimalHeader {
    background-image: none;
    height: 7.25rem!important;
    background-color: #000;
  }
}

